

div#root {
  margin: 0;
  padding: 0;
  display: flexbox; 
  width: 100%;
}
.page {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;  
}
